* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.list-group-item-action,
.list-group-item-action {
    z-index: 0;
}
