<a class="list-group-item list-group-item-action task">
  <div class="d-flex w-100 justify-content-between">
    <h5 [ngClass]="task.status" [innerText]="task.title"></h5>
    <small [innerText]="task.createdDate"></small>
  </div>
  <p class="mb-1" [innerText]="task.description"></p>
  <div class="task-footer">
    <small class="deadline" caption="Deadline: " [innerText]="task.deadline"></small>
    <div class="options">
      <div class="select-option">
        <span [innerText]="task.status" [ngClass]="task.status" caption="Status: "></span>
        <ul class="select-dropdown">
          <li><a (click)="changeStatus($event,'New')" *ngIf="task.status!='New'">New</a></li>
          <li><a (click)="changeStatus($event,'Complated')" *ngIf="task.status!='Complated'">Complated</a></li>
        </ul>
      </div>
      <div class="select-option">
        <span [innerText]="task.priority" [ngClass]="task.priority" caption="Priority: "></span>
        <ul class="select-dropdown">
          <li><a (click)="changePriority($event,'Low')" *ngIf="task.priority!='Low'">Low</a></li>
          <li><a (click)="changePriority($event,'Normal')" *ngIf="task.priority!='Normal'">Normal</a></li>
          <li><a (click)="changePriority($event,'High')" *ngIf="task.priority!='High'">High</a></li>
        </ul>
      </div>
    </div>
  </div>
</a>